h1 {
    margin-left: 12%;
    font-size: 250%;
    margin-top: 7%;
    transform: translateY(-90%);
}

.p-1 {
    margin-left: 12%;
    transform: translateY(-200%);
}

.imagen-user {
    width: 6.5%;
    height: 80px;
    border-radius:15px;
    background-color: rgba(0, 119, 255, 0.944);
    transform: translateY(-130%);
    margin-left: 4%;
}

.diploma {
    margin-left: 15%;
    transform: translateY(11%);
}

.Nivel-ICFES{
    width: 55%;
    height: 120px;
    background-color: white;
    border: solid 1pt black;
    border-radius: 10px;
    transform: translateY(-180px);
    margin-left: 35%;
}

.p-2 {
    font-weight: 600;
    font-size: 150%;
    margin-left: 2%;
    margin-top: 2%;
}

.p-3 {
    margin-left: 5%;
    font-size: 45px;
    font-weight: 600;
    transform: translateY(-100%);
}

.btn-practicas {
    width: 11%;
    border-radius: 10px;
    border: solid 1pt rgba(0, 0, 0, 0.443);
    background-color: white;
    height: 40px;
    font-size: 20px;
    margin-left: 70%;
    transform: translateY(-300%);
    color: black;
    cursor: pointer;
}

.libro {
    margin-right: 3%;
    transform: translateY(12%);
}

.btn-simulacros {
    width: 11%;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgba(4, 113, 255, 0.855);
    height: 40px;
    font-size: 20px;
    margin-left: 83%;
    transform: translateY(-400%);
    font-weight: 600;
    cursor: pointer;
}

.Circular {
    transform: translateY(12%);
    margin-right: 74%;
}

.p-4 {
    transform: translateY(-110%);
    margin-left: 14%;
}
